<!--静的ファイルをロード-->
{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-0HKNDPJJ35"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-0HKNDPJJ35');
        </script>
        <!-- Google tag (gtag.js) -->

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-N2444B4');</script>
        <!-- End Google Tag Manager -->

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href={% static "assets/favicon.ico" %} />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href={% static "css/styles.css" %} rel="stylesheet" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/dd887dba69.js" crossorigin="anonymous"></script>

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-249916191-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-249916191-1');
        </script>
        <!-- Google tag (gtag.js) -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N2444B4"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand text-white" href={% url 'app:index' %}>VRChat World Recommender</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link  text-white" aria-current="page" href={% url 'app:index' %}>トップページ</a></li>
                        
                        {% if user.is_authenticated %}

                            <li class="nav-item"><a class="nav-link text-white" href="{% url 'accounts:update' pk=user.pk %}">マイページ</a></li>
                            <li class="nav-item"><a class="nav-link text-white" href="{% url 'accounts:logout' %}">ログアウト</a></li>
                        
                        {% else %}

                            <li class="nav-item"><a class="nav-link text-white" href="{% url 'accounts:signup' %}">サインアップ</a></li>
                            <li class="nav-item"><a class="nav-link text-white" href="{% url 'accounts:login' %}">ログイン</a></li>
                        
                        {% endif %}

                    </ul>
                    {% if request.user.is_staff %}
                        <a class="btn btn-outline-dark text-white" href="{% url 'app:recent' %}">データ更新</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <!-- Header-->
        {% block header %}{% endblock %}
        <!-- Section-->
        {% block contents %}{% endblock %}
        <!-- Footer-->
        <footer class="py-4 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; VRChat World Recommender 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src={% static "js/scripts.js" %}></script>
    </body>
</html>
