<!-- カテゴリ登録-->

<div class="d-flex">
    <input id="create-category-input_{{record.id}}" type="search" name="new-category" class="own-select-width" placeholder="カテゴリ入力">
    <button id="create-category" name="create-category_{{record.id}}" type="button" class="btn own-like-padding" title="保存">
        <i class="fa-solid fa-floppy-disk"></i>
    </button>

    <button id="back-category" name="back-category_{{record.id}}" class="btn own-like-padding" title="戻る">
        <i class="fa-solid fa-reply"></i>
    </button>
</div>