<!-- カテゴリ登録-->

<div class="d-flex">
    <form action="#" method="post" class="d-flex">
        <input type="search" name="new-category" class="own-select-width" placeholder="カテゴリ入力">
        <button type="submit" id="#" name="#" class="btn own-like-padding" title="保存">
            <i class="fa-solid fa-floppy-disk"></i>
        </button>
    </form>

    <button id="back-category" name="back-category_{{record.id}}" class="btn own-like-padding" title="戻る">
        <i class="fa-solid fa-reply"></i>
    </button>
</div>