<!-- カテゴリ編集-->

<div class="d-flex">
    <input id="edit-category-input_{{record.id}}" type="search" name="edit-category" class="own-select-width" value="{{liked.category}}">
    <button id="update-category" name="edit-category_{{record.id}}" type="button" class="btn own-like-padding" title="保存">
        <i class="fa-solid fa-floppy-disk"></i>
    </button>

    <button id="delete-category" name="delete-category_{{record.id}}" class="btn own-like-padding" title="削除">
        <i class="fa-solid fa-trash"></i>
    </button>

    <button id="back-category" name="back-category_{{record.id}}" class="btn own-like-padding" title="戻る">
        <i class="fa-solid fa-reply"></i>
    </button>
</div>