<!--twitter投稿の一覧-->
{% load twitter_content_tags %}

<section class="px-6 pb-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 justify-content-center"> 

        {% for record in orderby_records %}
            <div name="twitter-post" class="align-items-center">
                
                <!--twitter投稿-->
                {% if forloop.counter == 1 %}
                    {{record.emb_html | safe}}
                {% else %}
                    {{record.emb_html | remove_script | safe}}
                {% endif %}

                <!--ログイン時のみ各種ボタンを表示する-->
                {% if not request.user.is_anonymous %}
                    <div class="d-flex justify-content-center gap-2 flex-wrap pb-5">
                        
                        <!--訪問済みボタン-->
                        {% include 'visit.html' %}
                        
                        <!--お気に入りボタン-->
                        <div name="user_like_{{record.id}}">
                            {% include 'like.html' %}
                        </div>

                    </div>
                {% endif %}

            </div>
        {% endfor %}

    </div>
</section>

<!--ページネーション-->
{% include "pagination.html" %}