<!--ベーステンプレート-->
{% extends "base.html" %}

<!--静的ファイルをロード-->
{% load static %}

{% block title %}VRChat World Recommender{% endblock %}

    {% block header %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-3">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">VRChat World Recommender</h1>
                    <p class="lead fw-normal text-white-50 mb-0">VRChatワールドへの"好き"の傾向から、あなたにおすすめのワールドを推薦します</p>
                </div>
            </div>
        </header>
    {% endblock %}

    {% block contents %}
        <!-- 検索バー-->
        <div class="px-5 py-4 text-end">
            <form action="#" method="post">
                <select name="search-select">
                    <option value="all">全て</option>
                    <option value="favorite">お気に入り</option>
                    <option value="category">カテゴリ</option>
                </select>
                <input type="search" name="search" placeholder="キーワードを入力">
                <input type="submit" name="submit" value="検索">
            </form>
        </div>

        <!-- 一覧-->
        <section class="px-4 px-lg-5 pb-5">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 justify-content-center"> 
                {% for record in orderby_records %}
                    <div class="align-items-center">
                        {{record.emb_html | safe}}
                        {% if not request.user.is_anonymous %}
                            <div class="d-flex justify-content-center gap-2 flex-wrap pb-5">
                                <div name="user_like_{{record.id}}">
                                    {% include 'like.html' %}
                                </div>
                                {% include 'visit.html' %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </section>
        {% include "pagination.html" %}

        <script type="text/javascript">
            // お気に入り
            $(document).ready(function(event){
                $(document).on('click', '#like', function(event){
                    event.preventDefault();
                    let twitter_post_id = $(this).attr('name');

                    $.ajax({
                        type: 'POST',
                        url: "{% url 'app:like' %}",
                        data: {
                            'twitter_post_id': $(this).attr('name'),
                            'csrfmiddlewaretoken': '{{ csrf_token }}'},

                        success: function(response){

                            selectorUserLike = document.getElementsByName("user_like_" + twitter_post_id);

                            $(selectorUserLike).html(response)

                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alert("読み込み失敗");
                            var res = $.parseJSON(xhr.responseText);
                        }
                    });
                });

                // 訪問済み
                $(document).on('click', '#visit', function(event){
                    event.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'app:visit' %}",
                        data: {
                            'twitter_post_id': $(this).attr('name'),
                            'csrfmiddlewaretoken': '{{ csrf_token }}'},
                        dataType: 'json',
                        success: function(response){
                            select_name = "visit_" + response.twitter_post_id;

                            selector = document.getElementsByName(select_name);
                            if(response.visited){
                                $(selector).html(' <i class="fa-solid fa-calendar-check fa-lg" title="訪問済み"></i>');
                            }
                            else {
                                $(selector).html('<i class="fa-solid fa-calendar-minus fa-lg" title="未訪問"></i>');
                            }
                        }
                    });
                });

                // カテゴリ選択
                $(document.querySelectorAll("[name^='category-select_']")).on('change', function(event){
                    event.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'app:change_category' %}",
                        data: {
                            'twitter_post_id': $(this).attr('name'),
                            "selected_category_id": $(this).val(),
                            'csrfmiddlewaretoken': '{{ csrf_token }}'},
                        dataType: 'json'
                    });
                });
                
            });

        </script>

    {% endblock %}