<!--ベーステンプレート-->
{% extends "base.html" %}

<!--静的ファイルをロード-->
{% load static %}

{% block title %}VRChat World Recommender{% endblock %}

    {% block header %}
        {% if request.user.is_anonymous %}
            <!-- Header-->
            <header class="py-5 own-bg-image" style="border-bottom: 0.05rem solid; border-bottom-color: gray">
                <div class="container px-4 px-lg-5 my-3">
                    <div class="text-center">
                        <h1 class="display-5 fw-bolder">VRChat World Recommender</h1>
                        <p class="lead fw-normal mb-0">お気に入りの傾向から、おすすめのワールドを推薦!</p>
                        <p class="lead fw-normal mb-0">（開発中。予告なく、ログイン情報等のリセットが行われる可能性があります）</p>
                    </div>
                </div>
            </header>
        {% endif %}
    {% endblock %}

    {% block contents %}
        <!-- 検索バー-->
        <div class="d-flex px-6 py-4 gap-2 own-search">
            <select id="list-select-count" class="form-select own-select-width" style="font-size: 0.75rem; font-weight: bold; border-color: black;" title="表示件数選択">
                {% for range in range_list %}
                    {% if range == paginate_by %}
                        <option value={{range}} selected>{{range}}件</option>
                    {% else %}
                        <option value={{range}}>{{range}}件</option>
                    {% endif %}
                {% endfor %}
            </select>

            {% if not request.user.is_anonymous %}
                <button id="modal-open" class="btn btn-outline-dark">絞り込み</button>
            {% endif %}

            <input class="align-items-center own-search-input" type="search" id="search" name="search" value="{{search_word}}" placeholder="検索ワードを入力">
        </div>

        <!-- モーダル-->
        <div id="modal" class="modal-container">
            {% include "narrow.html" %}
        </div>

        <!-- 一覧-->
        <div id="contents">
            {% include "contents.html" %}
        </div>

        <script type="text/javascript">

            $(document).ready(function(event){

                // お気に入り
                $(document).on('click', '#like', function(event){
                    event.preventDefault();
                    let twitter_post_id = $(this).attr('name');

                    $.ajax({
                        type: 'POST',
                        url: "{% url 'app:like' %}",
                        data: {
                            'twitter_post_id': twitter_post_id,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },

                        success: function(response){

                            selectorUserLike = document.getElementsByName("user_like_" + twitter_post_id);

                            $(selectorUserLike).html(response);

                        },

                        error: function (xhr, textStatus, errorThrown) {
                            alert("読み込み失敗");
                            var res = $.parseJSON(xhr.responseText);
                        }
                    });
                });

                // 訪問済み
                $(document).on('click', '#visit', function(event){
                    event.preventDefault();

                    $.ajax({
                        type: 'POST',
                        url: "{% url 'app:visit' %}",
                        data: {
                            'twitter_post_id': $(this).attr('name'),
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        dataType: 'json',

                        success: function(response){
                            select_name = "visit_" + response.twitter_post_id;

                            selector = document.getElementsByName(select_name);

                            if(response.visited){
                                $(selector).html(' <i class="fa-solid fa-calendar-check" title="訪問済み"></i>');
                            }
                            else {
                                $(selector).html('<i class="fa-solid fa-calendar-minus" title="未訪問"></i>');
                            }
                        }
                    });
                });

                // カテゴリ選択
                $(document).on('change', "[name^='category-select_']", function(event){
                    event.preventDefault();

                    let twitter_post_id = $(this).attr('name').split("_")[1];

                    $.ajax({
                        type: 'POST',
                        url: "{% url 'app:change_category' %}",
                        data: {
                            'twitter_post_id': twitter_post_id,
                            "selected_category_id": $(this).val(),
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },

                        success: function(response){

                            selectorUserLike = document.getElementsByName("like_category_" + twitter_post_id);

                            $(selectorUserLike).html(response);

                        },

                        error: function (xhr, textStatus, errorThrown) {
                            alert("読み込み失敗");
                            var res = $.parseJSON(xhr.responseText);
                        }
                    });
                });

                // カテゴリ新規作成
                $(document).on('click', '#category-new', function(event){
                    event.preventDefault();
                    let twitter_post_id = $(this).attr('name').split("_")[1];

                    $.ajax({
                        type: 'POST',
                        url: "{% url 'app:new_category' %}",
                        data: {
                            'twitter_post_id': twitter_post_id,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },

                        success: function(response){

                            selectorUserLike = document.getElementsByName("like_category_" + twitter_post_id);

                            $(selectorUserLike).html(response);

                            visitBtn = document.getElementsByName("visit_" + twitter_post_id);
                            
                            $(visitBtn).addClass("own-display-none");

                        },

                        error: function (xhr, textStatus, errorThrown) {
                            alert("読み込み失敗");
                            var res = $.parseJSON(xhr.responseText);
                        }
                    });
                });

                // カテゴリ選択から戻るボタン
                $(document).on('click', '#back-category', function(event){
                    event.preventDefault();
                    let twitter_post_id = $(this).attr('name').split("_")[1];

                    $.ajax({
                        type: 'POST',
                        url: "{% url 'app:back_category' %}",
                        data: {
                            'twitter_post_id': twitter_post_id,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },

                        success: function(response){

                            selectorUserLike = document.getElementsByName("like_category_" + twitter_post_id);

                            $(selectorUserLike).html(response);

                            visitBtn = document.getElementsByName("visit_" + twitter_post_id);
                            
                            $(visitBtn).removeClass("own-display-none");

                        },

                        error: function (xhr, textStatus, errorThrown) {
                            alert("読み込み失敗");
                            var res = $.parseJSON(xhr.responseText);
                        }
                    });
                });

                // カテゴリ作成
                $(document).on('click', '#create-category', function(event){
                    event.preventDefault();
                    let twitter_post_id = $(this).attr('name').split("_")[1];

                    $.ajax({
                        type: 'POST',
                        url: "{% url 'app:create_category' %}",
                        data: {
                            'twitter_post_id': twitter_post_id,
                            'new_category_name': $(document).find("#create-category-input_"+twitter_post_id).val(),
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },

                        success: function(response){

                            selectorUserLike = document.getElementsByName("like_category_" + twitter_post_id);

                            $(selectorUserLike).html(response);

                            visitBtn = document.getElementsByName("visit_" + twitter_post_id);
                            
                            $(visitBtn).removeClass("own-display-none");

                            // 画面内のカテゴリプルダウンを全て更新する
                            selectCategoryMenus = document.querySelectorAll("[name^='like_category_']");

                            for (let select of selectCategoryMenus) {
                                
                                if (select.childElementCount != 0){
                                    let selectId = $(select).attr("name").split("_")[2];
                                  
                                    $.ajax({
                                        type: 'POST',
                                        url: "{% url 'app:back_category' %}",
                                        data: {
                                            'twitter_post_id': selectId,
                                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                                        },

                                        success: function(response){

                                            let selectorOther = document.getElementsByName("like_category_" + selectId);

                                            $(selectorOther).html(response);

                                        },

                                        error: function (xhr, textStatus, errorThrown) {
                                            alert("読み込み失敗");
                                            var res = $.parseJSON(xhr.responseText);
                                        }
                                    });

                                }
                            
                            }

                        },

                        error: function (xhr, textStatus, errorThrown) {
                            alert("すでに存在しているカテゴリです。");
                        }
                    });
                });
                
                // カテゴリ編集
                $(document).on('click', '#category-edit', function(event){
                    event.preventDefault();
                    let twitter_post_id = $(this).attr('name').split("_")[1];

                    $.ajax({
                        type: 'POST',
                        url: "{% url 'app:edit_category' %}",
                        data: {
                            'twitter_post_id': twitter_post_id,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },

                        success: function(response){

                            selectorUserLike = document.getElementsByName("like_category_" + twitter_post_id);

                            $(selectorUserLike).html(response);

                            visitBtn = document.getElementsByName("visit_" + twitter_post_id);
                            
                            $(visitBtn).addClass("own-display-none");

                        },

                        error: function (xhr, textStatus, errorThrown) {
                            alert("読み込み失敗");
                            var res = $.parseJSON(xhr.responseText);
                        }
                    });
                });

                // カテゴリ削除
                $(document).on('click', '#delete-category', function(event){
                    event.preventDefault();
                    let twitter_post_id = $(this).attr('name').split("_")[1];

                    $.ajax({
                        type: 'POST',
                        url: "{% url 'app:delete_category' %}",
                        data: {
                            'twitter_post_id': twitter_post_id,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },

                        success: function(response){

                            selectorUserLike = document.getElementsByName("like_category_" + twitter_post_id);

                            $(selectorUserLike).html(response);

                            visitBtn = document.getElementsByName("visit_" + twitter_post_id);
                            
                            $(visitBtn).removeClass("own-display-none");

                            // 画面内のカテゴリプルダウンを全て更新する
                            selectCategoryMenus = document.querySelectorAll("[name^='like_category_']");

                            for (let select of selectCategoryMenus) {
                                
                                if (select.childElementCount != 0){
                                    let selectId = $(select).attr("name").split("_")[2];
                                   
                                    $.ajax({
                                        type: 'POST',
                                        url: "{% url 'app:back_category' %}",
                                        data: {
                                            'twitter_post_id': selectId,
                                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                                        },

                                        success: function(response){

                                            let selectorOther = document.getElementsByName("like_category_" + selectId);

                                            $(selectorOther).html(response);

                                        },

                                        error: function (xhr, textStatus, errorThrown) {
                                            alert("読み込み失敗");
                                            var res = $.parseJSON(xhr.responseText);
                                        }
                                    });

                                }
                            
                            }

                        },

                        error: function (xhr, textStatus, errorThrown) {
                            alert("すでに存在しているカテゴリです。");
                        }
                    });
                });

                // カテゴリ更新
                $(document).on('click', '#update-category', function(event){
                    event.preventDefault();
                    let twitter_post_id = $(this).attr('name').split("_")[1];

                    $.ajax({
                        type: 'POST',
                        url: "{% url 'app:update_category' %}",
                        data: {
                            'twitter_post_id': twitter_post_id,
                            'update_category_name': $(document).find("#edit-category-input_"+twitter_post_id).val(),
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },

                        success: function(response){

                            selectorUserLike = document.getElementsByName("like_category_" + twitter_post_id);

                            $(selectorUserLike).html(response);

                            visitBtn = document.getElementsByName("visit_" + twitter_post_id);
                            
                            $(visitBtn).removeClass("own-display-none");

                            // 画面内のカテゴリプルダウンを全て更新する
                            selectCategoryMenus = document.querySelectorAll("[name^='like_category_']");

                            for (let select of selectCategoryMenus) {
                                
                                if (select.childElementCount != 0){
                                    let selectId = $(select).attr("name").split("_")[2];

                                    $.ajax({
                                        type: 'POST',
                                        url: "{% url 'app:back_category' %}",
                                        data: {
                                            'twitter_post_id': selectId,
                                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                                        },

                                        success: function(response){

                                            let selectorOther = document.getElementsByName("like_category_" + selectId);

                                            $(selectorOther).html(response);

                                        },

                                        error: function (xhr, textStatus, errorThrown) {
                                            alert("読み込み失敗");
                                            var res = $.parseJSON(xhr.responseText);
                                        }
                                    });

                                }
                            
                            }

                        },

                        error: function (xhr, textStatus, errorThrown) {
                            alert("すでに存在しているカテゴリです。");
                        }
                    });
                });

                // 検索
                $(document).on('input', '#search', function(event){
                    event.preventDefault();

                    // 絞り込みの状態を確認
                    parents = $(document).find("#narrow-form");

                    checkedRange = parents.find("input[name=narrow-radio]:checked");
                    checkedCategory = parents.find("input[name=narrow-category]:checked");

                    checkedCategoryIdList = [];

                    checkedCategory.each(function(){
                        checkedCategoryIdList.push($(this).val());
                    })

                    $.ajax({
                        type: 'POST',
                        url: "{% url 'app:search_index' %}",
                        data: {
                            'search_word': $(this).val(),
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'range': checkedRange.val(),
                            'categories': checkedCategoryIdList.join(","),
                            'paginate_by': $(document).find("#list-select-count").val()
                        },

                        success: function(response){

                            selectorUserLike = document.getElementById("contents");

                            $(selectorUserLike).html(response);

                        },

                        error: function (xhr, textStatus, errorThrown) {
                            alert("読み込み失敗");
                            var res = $.parseJSON(xhr.responseText);
                        }
                    });
                });

                // モーダル表示
                $(document).on('click', '#modal-open', function(event){
                    event.preventDefault();

                    // 絞り込みの状態を確認
                    parents = $(document).find("#narrow-form");

                    checkedRange = parents.find("input[name=narrow-radio]:checked").val();
                    checkedCategory = parents.find("input[name=narrow-category]:checked");

                    checkedCategoryIdList = [];

                    checkedCategory.each(function(){
                        checkedCategoryIdList.push($(this).val());
                    })

                    $.ajax({
                        type: 'GET',
                        url: "{% url 'app:narrow' %}",

                        success: function(response){

                            container = document.getElementById("modal");
                            $(container).html(response);

                            $(container).find("#narrow-form").find(`input[value=${checkedRange}]`).prop('checked', true);

                            for (categoryId of checkedCategoryIdList) {
                                $(container).find("#narrow-category").find(`input[value=${categoryId}]`).prop('checked', true);
                            }
                            
                            $(container).addClass("active");

                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alert("読み込み失敗");
                            var res = $.parseJSON(xhr.responseText);
                        }
                    });
                });

                // モーダルを閉じる
                $(document).on('click', '#modal-close', function(event){
                    container = document.getElementById("modal");
                    $(container).removeClass('active');
                });

                // モーダル以外クリックでモーダルを閉じる
                $(document).on('click',function(event) {
                    if(!$(event.target).closest('.modal-body').length) {
                        container = document.getElementById("modal");
                        $(container).removeClass('active');
                    }
                });

                // 絞り込み
                $(document).on('change', '#narrow-form', function(event){
                    event.preventDefault();

                    // 絞り込みの状態を確認
                    checkedRange = $(this).find("input[name=narrow-radio]:checked");
                    checkedCategory = $(this).find("input[name=narrow-category]:checked");

                    checkedCategoryIdList = [];

                    checkedCategory.each(function(){
                        checkedCategoryIdList.push($(this).val());
                    })

                    $.ajax({
                        type: 'POST',
                        url: "{% url 'app:search_index' %}",
                        data: {
                            'search_word': $(document).find("#search").val(),
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'range': checkedRange.val(),
                            'categories': checkedCategoryIdList.join(","),
                            'paginate_by': $(document).find("#list-select-count").val()
                        },

                        success: function(response){

                            selectorUserLike = document.getElementById("contents");

                            $(selectorUserLike).html(response);

                        },

                        error: function (xhr, textStatus, errorThrown) {
                            alert("読み込み失敗");
                            var res = $.parseJSON(xhr.responseText);
                        }
                    });
                });

                // 表示件数変更
                $(document).on('change', '#list-select-count', function(event){
                    event.preventDefault();

                    // 絞り込みの状態を確認
                    narrow = $(document).find("#narrow-form");

                    checkedRange = narrow.find("input[name=narrow-radio]:checked");
                    checkedCategory = narrow.find("input[name=narrow-category]:checked");

                    checkedCategoryIdList = [];

                    checkedCategory.each(function(){
                        checkedCategoryIdList.push($(this).val());
                    })

                    $.ajax({
                        type: 'POST',
                        url: "{% url 'app:search_index' %}",
                        data: {
                            'search_word': $(document).find("#search").val(),
                            'csrfmiddlewaretoken': '{{ csrf_token }}',
                            'range': checkedRange.val(),
                            'categories': checkedCategoryIdList.join(","),
                            'paginate_by': $(this).val()
                        },

                        success: function(response){

                            selectorUserLike = document.getElementById("contents");

                            $(selectorUserLike).html(response);

                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alert("読み込み失敗");
                            var res = $.parseJSON(xhr.responseText);
                        }
                    });
                });

            });

        </script>

    {% endblock %}