<div class="modal-body">
    <div id="modal-close" class="modal-close">×</div>
    <div class="modal-content">
        <p class="own-lead-form pb-3">絞り込み</p>

        <form class="own-form">
            <div id="narrow-range" class="own-item">
                <p class="own-label">範囲</p>
                <label>
                    <input id="narrow_all" type="radio" name="narrow_all" value="all">
                    全て
                </label>
                <label>
                    <input id="narrow_like" type="radio" name="narrow_like" value="like">
                    お気に入り
                </label>
                <label>
                    <input id="narrow_visit" type="radio" name="narrow_visit" value="visit">
                    訪問済み
                </label>
            </div>

            <div class="own-item">
                <p class="own-label">カテゴリ</p>
                <div id="narrow-category" class="own-inputs">
                    {% for category in category_objects %}
                        <label>
                            <input id="narrow_{{category.id}}" type="checkbox" class="own-input-test" name="narrow_{{category.id}}" value="{{category.id}}">
                            {{category.category}}
                        </label>
                    {% endfor %}
                </div>
            </div>

            <div class="own-btn-area pt-4">
                <input class="own-input" type="submit" value="絞り込む">
            </div>

        </form>
    </div>
</div>