<div class="modal-body">
    <div id="modal-close" class="modal-close">×</div>
    <div class="modal-content">
        <p class="own-lead-form pb-3">絞り込み</p>

        <form id="narrow-form" class="own-form">
            <div id="narrow-range" class="own-item">
                <p class="own-label">範囲</p>
                <label>
                    <input type="radio" name="narrow-radio" value="all" checked="checked">
                    全て
                </label>
                <label>
                    <input type="radio" name="narrow-radio" value="like">
                    お気に入り
                </label>
                <label>
                    <input type="radio" name="narrow-radio" value="visit">
                    訪問済み
                </label>
            </div>

            <div class="own-item">
                <p class="own-label">カテゴリ</p>
                <div id="narrow-category" class="own-inputs">
                    {% for category in category_objects %}
                        <label>
                            <input type="checkbox" class="own-input-test" name="narrow-category" value="{{category.id}}">
                            {{category.category}}
                        </label>
                    {% endfor %}
                </div>
            </div>

            <div class="own-btn-area pt-4">
                <button id="narrow-btn" class="own-narrow-btn">絞り込む</button>
            </div>

        </form>
    </div>
</div>